*/
template file for go packages
---
package {{package_name}}

// ---------------- {{package_name}}: {{current_file}}.go ----------------------
// # Package Documentation
// - Package Name: {{PACKAGE_NAME}}
// - Description: {{package_describe}}
//
// ## Package File(s)
// - {{pkgfile1.go}}: {{pkgfile1.go_description}}
// - {{pkgfile2.go]}: {{pkgfile2.go_description}}
//
// ### Current File
// - {{pkgfile.go}}: (current_file)
//
// #### Interface(s)
// - {{`interface1{}`}}: {{interface1_describe}}
// // omit this section unless there is a reason to bring up attention to detail.
//
// #### Global Variable(s) and Constant(s)
// - {{var1}}: {{var1_describe}}
// // omit this section unless there is a reason to bring up attention to detail.
//
// #### Data Structure(s)
// - {{datastruct1}}: {{datastruct1_describe}}
// - {{datastruct2}}: {{datastruct2_describe}}
//
// #### Constructor(s)
// - {{constructor1}}: {{constructor1_describe}}
//
// #### Method(s)
// - {{method1}}: {{method1_describe}}
//
// #### Function(s)
// - {{function1}}: {{function1_describe}}
//
// **Developer Note(s)**
// - {{developer_note1}}: {{developer_note1_describe}} //used to bring attention
//   to callouts, caveats, gotchas or code that does not document itself.
//   ie. magic numbers, between developers.
//
// -----------------------------------------------------------------------------

import (
	"fmt"
)

//
// ================ INTERFACE(s) ===============================================
//
//
// {{`interface1{}`}}: {{interface1_describe}}
// type {{interface1}} interface {}
//
//
// ================ GLOBAL VARIABLE(s) / CONSTANT(s) ===========================
//
// {{const1}}: {{const1_description}}
// const {{const1}} {{const1_type}} = {{const1_value}}
// var {{var1}} {{var1_type}} = {{var1_value}} OR {{var1_func_call}}
//
//
// ================ DATA STRUCTURE(s) ==========================================
//
// #### {{struct_grouping_title}} // group similar data structures and interfaces
// {{struct1}}:{{struct1_description}} //comment line
// type {{data_type_struct1}} struct {//include a mutex field with value of sync.Mutex}
//
//
// ================ CONSTRUCTOR(s) =============================================
//
// #### {{contructor_grouping_title}} // group similar contructors together
// {{contructor1}}:{{contructor1_description}} //comment line
// func New{{Constructor1}}() {{Type}} {}
//
//
// ================ PUBLIC METHOD(s) ===========================================
//
// #### {{method_grouping_title}} // group similar method together
// {{Public_method1}}:{{Public_method1_description}} //comment line
// func (s *Struct) {{Public_method1}}() {}
//
//
// ================ PRIVATE METHOD(s) ==========================================
//
// #### {{method_grouping_title}} // group similar method together
// {{private_method1}}:{{private_method1_description}} //comment line
// func (s *Struct) {{private_method1}}() {}
//
//
// ================ PUBLIC FUNCTION(s) =========================================
//
// #### {{function_grouping_title}} // group similar functions together
// {{Public_function1}}:{{Public_function1_description}} //comment line
// func {{Public_function1}}() {}
//
//
// ================ PRIVATE FUNCTION(s) ========================================
//
// #### {{function_grouping_title}} // group similar functions together
// {{private_function1}}:{{private_function1_description}} //comment line
// func {{private_function1}}() {}
//
