// template file meta instructions
// omit sections that have no data
// section headers and footer should be paded with '/' and 80 wide
// //hint: are to instruct llms only and should be removed from final code
---
package {{package_name}}
// hint: package documentation section
//////////////////// {{PACKAGE_NAME}}: {{current_file}}.go /////////////////////
// # Package Documentation
// - Name: {{PACKAGE_NAME}}
// - Description: {{package_describe}}
//
// ## Package File (current_file)
// - {{current_file}}.go (includes the following key components)
//
// ### Data Structure(s)
// - {{data_struct1}}: {{data_struct1_describe}}
// - {{data_struct2}}: {{data_struct2_describe}}
//
// ### Constructor(s)
// - {{constructor1}}: {{construction1_describe}}
//
// ### Method(s)
// - {{method1}}: {{method1_describe}}
//
// ### Callout(s)
// - {{callout1}}: {{callout1_describe}} // used to bring attention to caveats or magic numbers
//
// ## Package File(s) (continued)
// - {{file1}}.go: {{file1_describe}} // omit if no other files
// - {{file2}}.go: {{file2_describe}} // omit if no other files
////////////////////////////////////////////////////////////////////////////////

import (
	"fmt"
)

//////////////////////////// GLOBAL(s)/CONSTANT(s) /////////////////////////////
// define global(s) and contstant(s) //hint: 2 lines max, more details to go in package documentation
var const {{var_const1}} {{var_const1_type}} = {{var_const1_value}}
/////////////////////////// -global(s)/constant(s)- //////////////////////////// 

// hint: 1 new lines between sections
///////////////////////////////// DATA TYPE(s) /////////////////////////////////
// {{data_type_struct1}} (struct): {{data_type_struct1_describe}} //hint: 2 lines max, more details to go in package documentation
interface {{data_type_struct1}} struct {//include a mutex field with value of sync.Mutex}

// {{data_type_interface1}} (interface): {{data_type_interface1_describe}} //hint: 2 lines max, more details to go in package documentation
interface {{data_type_struct1}} interface{}
//////////////////////////////// -data type(s)- //////////////////////////////// 

// hint: 1 new lines between sections
//////////////////////////////// CONSTURCTOR(s) ////////////////////////////////
// {{constructor1}} (public function): {{constructor1_describe}} //hint: 2 lines max, more details to go in package documentation
//
// Notes:
// - {{constructor1_note1}} //omit if no notes
// - {{constructor1_note2}} //omit if no notes

func New{{Constructor1}}() {{Type}} {}
/////////////////////////////// -contructor(s)- //////////////////////////////// 

// hint: 1 new lines between sections
/////////////////////////////// PUBLIC METHOD(s) ///////////////////////////////
// {{Public_method1}} (public method): {{public_method1_describe}} //hint: 2 lines max, more details to go in package documentation
func (s *Struct) {{Public_method1}}() {}
////////////////////////////// -public method(s)- ////////////////////////////// 

// hint: 1 new lines between sections
////////////////////////////// PRIVATE METHOD(s) ///////////////////////////////
// {{private_method1}} (private method): {{private_method1_describe}} //hint: 2 lines max, more details to go in package documentation
func (s *Struct) {{private_method1}}() {}
///////////////////////////// -private method(s)- ////////////////////////////// 

// hint: 1 new lines between sections
////////////////////////////// PUBLIC FUNCTION(s) //////////////////////////////
// {{Public_function1}} (public function): {{public_function1_describe}} //hint: 2 lines max, more details to go in package documentation
func {{Public_function1}}() {}
///////////////////////////// -public function(s)- ///////////////////////////// 

// hint: 1 new lines between sections
///////////////////////////// PRIVATE FUNCTION(s) //////////////////////////////
// {{private_function1}} (private function): {{private_function1_describe}} //hint: 2 lines max, more details to go in package documentation
func {{private_function1}}() {}
//////////////////////////// -private function(s)- ///////////////////////////// 
