package {{package_name}}

//////////////////// {{PACKAGE_NAME}}: {{current_file}}.go /////////////////////
// # Package
// - Name: {{PACKAGE_NAME}}
// - Function: {{package_function}}
//
// ## Package File (current_file)
// - {{current_file}}.go (includes the following key components)
//
// ### Data Structure(s)
// - {{ds1}}: {{ds1_explain}}
// - {{ds2}}: {{ds2_explain}}
//
// ### Constructor(s)
// - {{const1}}: {{const1_explain}}
//
// ### Method(s)
// - {{method1}}: {{method1_explain}}
//
// ### Callout(s)
// - {{callout1}}: {{callout1_explain}}
//
// ## Package File(s) (continued)
// - {{file1}}.go: {{file1_explain}}
// - {{file2}}.go: {{file2_explain}}
////////////////////////////////////////////////////////////////////////////////

import (
	"fmt"
)

//////////////////////////// GLOBAL(s)/CONSTANT(s) /////////////////////////////

// define global(s) and contstant(s)

/////////////////////////// -global(s)/constant(s)- ////////////////////////////


///////////////////////////////// DATA TYPE(s) /////////////////////////////////

// define data type(s)

//////////////////////////////// -data type(s)- ////////////////////////////////


//////////////////////////////// CONSTURCTOR(s) ////////////////////////////////

// define/explain contructors

/////////////////////////////// -contructor(s)- ////////////////////////////////


/////////////////////////////// PUBLIC METHOD(s) ///////////////////////////////

// define public methods

////////////////////////////// -public method(s)- //////////////////////////////


////////////////////////////// PRIVATE METHOD(s) ///////////////////////////////

// define private methods

///////////////////////////// -private method(s)- //////////////////////////////


////////////////////////////// PUBLIC FUNCTION(s) //////////////////////////////

// define public methods

///////////////////////////// -public function(s)- /////////////////////////////


///////////////////////////// PRIVATE FUNCTION(s) //////////////////////////////

// define public methods

//////////////////////////// -private function(s)- /////////////////////////////
